
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
  }
  
  header .logo {
    width: 100px;
    height: auto;
  }
  
  header h1 {
    font-size: 24px;
    margin-top: 10px;
    color: white;
  }
  
  nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
  }
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .team {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    margin-left: 400px;
    margin-top: 100px;
   
  }
  .team .member {
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  .team .member .image {
    width: 100%;
    height: auto;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .team .member .image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: left;
    padding: 50px;
    margin-top: 175px;
    justify-content: space-between;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .grid-item {
    padding: 20px;
  }
  
  @media screen and (min-width: 600px) {
    .team {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    header .logo {
        width: 100px;
    }
    header h1 {
        font-size: 32px;
    }
    nav ul li {
        margin-right: 10px;
    }
    nav ul li a {
        padding: 10px 20px;
    }
    .team {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    header h1 {
        font-size: 24px;
    }
    .team {
        grid-template-columns: repeat(3, 1fr);
    }
}