<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="TemplateWithGrid.css">
</head>
<header>
        <img src="fotos/CarShop.png" alt="Blog Logo" class="logo">
        <h1>Car Shop</h1>
    </header>
    <nav>
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="CarsPage.html">Cars</a></li>
            <li><a href="AboutUs.html">About Us</a></li>
        </ul>
    </nav>

    <body>
        <div class="grid-container">
            <p>Grid test 1</p>
            <img src="fotos/CarShop.png" alt="">
            <p>Grid test 2</p>
            <img src="fotos/CarShop.png" alt="">
            <p>Grid test 3</p>
        </div>
    </body>
    


<footer>
        <h4>Car Shop</h4>
        <li><strong>Phonenumber:</strong> 079 526 42 38</li>
        <li><strong>Address:</strong> Hagenholzstrasse 111, 8050 Zürich</li>            
        <li><strong>E-Mail:</strong> CarShop@gmail.com</li>

        <div class="Contact Leona">
            <h4>Leona</h4>
        <li><strong>Phonenumber:</strong> 079 604 25 01 </li>           
        <li><strong>E-Mail:</strong> leona.istrefi@edu.tbz.ch</li>
        </div>

    </footer>
</html>
