
$font-family: Arial, sans-serif;
$background-color: #f5f5f5;
$text-color: #333;
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 20px;


@mixin responsive-font($size) {
  font-size: $size;
}

@mixin responsive-padding($padding) {
  padding: $padding;
}


body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  overflow: hidden;
  text-align: center;
  color: $text-color;
  @include responsive-padding($padding-large);
}

h1 {
  margin-bottom: $padding-small;
  @include responsive-font(2.75rem);
}

p {
  margin: 0;
  @include responsive-font(1.625rem);
}

@media screen and (max-width: 320px) {
  body {
    @include responsive-padding($padding-small);
  }

  h1 {
    @include responsive-font(1.5rem);
  }

  p {
    @include responsive-font(1rem);
  }
}

@media screen and (max-width: 480px) {
  body {
    @include responsive-padding($padding-medium);
  }

  h1 {
    @include responsive-font(1.75rem);
  }

  p {
    @include responsive-font(1.125rem);
  }
}

@media screen and (max-width: 600px) {
  body {
    @include responsive-padding($padding-large);
  }

  h1 {
    @include responsive-font(2rem);
  }

  p {
    @include responsive-font(1.25rem);
  }
}

@media screen and (min-width: 600px) {
  body {
    @include responsive-padding($padding-large);
  }

  h1 {
    @include responsive-font(2.25rem);
  }

  p {
    @include responsive-font(1.375rem);
  }
}

@media screen and (min-width: 900px) {
  body {
    @include responsive-padding($padding-large);
  }

  h1 {
    @include responsive-font(2.5rem);
  }

  p {
    @include responsive-font(1.5rem);
  }
}

@media screen and (min-width: 1200px) {
  body {
    @include responsive-padding($padding-large);
  }

  h1 {
    @include responsive-font(2.75rem);
  }

  p {
    @include responsive-font(1.625rem);
  }
}
